<div class="auth">
    <form action="" method="post">
        <h1>Login</h1>
        <input  type="email"  name='email' placeholder ='Email'/>
        <input type="password" name='password' placeholder ='Password' />
        <button>Login</button>
        <span>Don't you have an account? <br /><a href="/register">Register</a> </span>
    </form>
</div>