/* LOGIN & REGISTER */
.auth{
    height: 100vh;
    background-color: #bdb9b975; 
}
.auth h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.auth form{
    position: relative;
    left: 31%;
    top: 8%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 35%;
    gap: 20px;
    box-shadow: 0px 10px 15px grey;
    border-radius: 10px;

}
.auth input{
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    border-bottom : 1px solid lightgray;
}
.auth button{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    background-color:#b75454f5;
    color: white;
}
.auth span{
    font-size: 12px;
    text-align: center;
}
.auth form p{
    font-size: 12px;
    text-align: center;
    color: red;
}
/* .pop-error{
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 10px 15px grey;
    border-radius: 5px;
    text-align: center;
    top: 80px;
    left: 10%;
    display: none;
    animation: 0.5s ease-in-out scale;     
} */
.pop-error span {
    font-size: 23px;
}
.pop-error button {
    margin-top: 20px;
}
/* NAVIGATION */

.header{
    position: sticky;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color:white;
    box-shadow: 0px 3px 3px grey;
  
}
.header .logo{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 30px;
}
.header ul{
    list-style-type: none;
    float: right;
    margin-right: 30px;    
}
.header ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bolder;
}
.header ul li a{
    text-decoration: none;
    color: black;
}
.header ul li .user-profil{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #d3d3d36e;
}
.header ul li .user-profil img{
    width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 30px;
} 

/* FOOTER */

.footer{
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: #575353; 
}


/* CONTENT */
.home-title{
    height: 250px;
    background-image: url('../images/paper-g1114e0784_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.black{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #808080e0;
}
.black h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
}
.content{
    background-color: #f0f0f0;
}
.post{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.post .box{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
}
.post .title{ 
    width: 40%;
    padding: 20px;
}
.post .photo{
    width: 40%;
    border: 1px solid lightgray;

}
.post .photo img{
    width: 100%;
    height: 100%;
}
.post:nth-child(2n+1){
    flex-direction: row-reverse;
}
.read-more{
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
}
.read-more:hover{
    background-color: grey;
    color: white;
}
.writepage{
    display: flex;
    justify-content: space-evenly;
}
.form{
    margin-top: 30px;
    width: 60%;
    padding: 20px;
    border-radius: 5px ;
}
.form input{
    margin-bottom: 20px;
   
}
.form textarea{
    margin-bottom: 20px;
}
.form button{
    background-color: grey;
    color: white;
    border-radius: 5px;
  
}
.menu{
    width: 30%;
    height: 200px;
    margin-top: 48px; 
    padding: 10px;
    border: 1px solid lightgray; 
}
.menu h4{
    font-weight: bold;
    text-align: center;
}
.menu input{
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.menu span{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.postpost{
    display: flex;
    justify-content: space-between;
}
.single-post{
    width: 50%;
    padding: 10px;
    margin-left: 100px;
}
.other-post{
    padding: 10px;
    margin-top: 30px;
    margin-right: 100px;
    text-align: center;
}
.single-image{
    margin-top: 30px;
}
.single-image img{
    width: 100%;
}
.singleError{
    top: 100%;
    left: 40%;
}
.comment input{
    width: 70%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;
    background-color:#f0f0f0;
}
.comment button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid grey;
    margin-left: 10px;
    border-radius: 4px;
    color: grey;
}
.comment button:hover{
    background-color: grey;
    color: white;
}
.post-comment{
    margin-top: -25px;
    margin-left: 40px;
}
.user{
    margin-top: 20px;
}
.user .profil{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: grey;
}
.user .profil img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user .link-btn{
    float: right;
    margin-top: -40px;
}
.user .link-btn a{
    margin-left: 20px;
    color: grey;
}
.user h4{
    margin-left: 8%;
    margin-top: -40px;
}
.post-article{
    margin-top: 20px;
}
.pop{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 350px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    display: none;
    color: grey;
    animation: 0.5s ease-in-out scale;
    text-align: center;
}
.user-comment{
    margin-top: 40px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.user-comment img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    width: 100%;
}
.username{
    position: relative;
    top: -30px;
    margin-left: 40px;
}

@keyframes scale{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    30%{
        transform: scale(0.4);
        opacity: 0;
    }
    60%{
        transform: scale(0.6);
        opacity: 0;
    }
    100%{
        transform: scale(1);
    }
}
.posts{
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 30px;
}
.posts .image{
    width: 160px;
    height: 150px;
    border-radius: 5px;
    margin-left: 35px;
}
.posts .image img{
    width: 100%;
}
.pagination{
    margin-left: 30%;
}
.pagination button{
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid lightgrey;
    background-color: white;
}
.error{
    /* border: 1px solid red; */
    background-color: red;
}
.error-message{
    color: red;
}