body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    /* background: linear-gradient(90deg,rgb(130, 197, 179),rgb(98, 135, 202),rgb(165, 102, 123));   */
    /* background: linear-gradient(90deg,rgb(142, 122, 151),rgb(90, 99, 116),rgb(179, 153, 160));   */
    /* background: radial-gradient(green , yellow, blue); */
}
/* button{
    background: linear-gradient(90deg,rgb(130, 197, 179),rgb(98, 135, 202),rgb(165, 102, 123)); 
} */
/* LOGIN & REGISTER */
.auth{
    text-align: center;
    background-color: #fff;
    margin-top: 15%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 2px 3px 3px grey;
}
.auth input{
    border: none;
    border-bottom: 1px solid lightgray;
}
.auth h1{
    
    font-size: 30px;
    font-weight: bold;
    
}
.auth button{
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: lightgray;
    
}
.auth span{
    font-size: 12px;
}
.pop-error{
    position: fixed;
    top: 150px;
    width: 320px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 10px 15px grey;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.pop-error i{
    float: right;
    margin-top: -15px;
}
.pop-error span {
    font-size: 13px;
}
.pop-error button {
    margin-top: 20px;
}
/* NAVIGATION */
.navbar{
    background-color: white;
    height: 70px;
    padding: 10px;
    position: sticky;
}
.selectionner{
    display: flex;
    margin-top: -10px;
}
.selectionner-item{
    margin-left: 10px;
}
.selectionner-item input{
    border-radius: 4px;
    border: 1px solid lightgray;
}
.selectionner-item button{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.selectionner-item select{
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 4px;
}
.navbar ul{
  list-style-type: none;
}
.navbar ul li{
    display: inline-block;
    margin-left: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li .user-profil{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #d3d3d36e;
}
.navbar ul li .user-profil img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
} 

/* FOOTER */

.footer{
    height: 80px;
    padding: 10px;
    background-color: grey;
    color: white;
    text-align: center;
}


/* CONTENT */
.post{
    margin-top: 30px;
}
.post h3{
    margin-top: 20px;
    font-weight: bold;
}
.post h3 a{
    text-decoration: none;
    color: black;
}
.post h3 a:hover{
    text-decoration: underline;
}

.card-post img{
    width: 100%;
    height: 200px;
}
.read-more{
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
}
.read-more:hover{
    background-color: grey;
    color: white;
}
.write{
  margin-top: 20px
}
.write button{
    background-color: grey;
    color: white;
    border-radius: 5px; 
}
.category{
    border: 1px solid lightgray;
    margin-left: 70px;
    padding: 10px;
}
.category h4{
   font-size: 20px;
   font-weight: 400;
   text-align: center;
}
.single-post-img{
    width: 80%;
    height: 60%;
    border-radius: 8px;
}
.single-post-img img{
    width: 100%;
    height: 100%;
}
.icone {
    float: right;
  margin-right: 24%;
  margin-top: -10%;
}
.icone span{
    margin-left: 10px;

}
.single-post-title{
    margin-top: 20px;
}
.singleError{
    top: 100%;
    left: 40%;
}
.comment{
    margin-top: 40px;
}
.comment input{
    width: 70%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.comment button{
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    margin-left: 10px;
    border-radius: 4px;
    color: grey;
}
.comment button:hover{
    background-color: grey;
    color: white;
}
.post-comment{
    margin-top: -45px;
    margin-left: 62px;
}
.user{
    margin-top: 15px;  
}
.user .publier-le{
    margin-top: 20px;
}

.user .profil{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user h5{
    margin-left: 55px;
    margin-top: -37px;
}
.user .profil img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.link-btn {
    margin-top: 20px;
}
.link-btn a{
    margin-left: 20px;
    color: grey;
}
.user h4{
    margin-left: 8%;
    margin-top: -40px;
}
.post-article{
    margin-top: 20px;
}
.user-comment-profil{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
 
}
.user-comment-profil img{
    height: 50px;
    border-radius: 50px;
    width: 100%;
}
.username{
    position: relative;
    top: -46px;
    left: 61px;
    font-weight: bold;
}
.comment-like{
    margin-left: 8%;
    margin-top: 10px;
}


@keyframes scale{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    30%{
        transform: scale(0.4);
        opacity: 0;
    }
    60%{
        transform: scale(0.6);
        opacity: 0;
    }
    100%{
        transform: scale(1);
    }
}

.other-post-img img{
    width: 100%;
    margin-top: 20px;
}
.other-post-title{
    margin-top: 10%;
}

.pagination{
    margin-left: 30%;
}
.pagination button{
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid lightgrey;
    background-color: white;
}
.error{
    /* border: 1px solid red; */
    background-color: red;
}
.error-message{
    color: red;
}
.dis-none{
    display: none;
}
.blue{
    color: blue;
}
.info-user{
    font-size: 18px;
}

.info-user .name{
    margin-left: 49px;
    margin-top: -29px;
    /* border-bottom: 1px solid grey; */
}
.info-user a {
    color: black;
}
.profil-user{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.profil-user img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
#message_bar{
    margin-top: 20px;
}
.notif_non_lu{
    height: 60px;
    padding: 15px;
    background-color: lightgray;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}
.notif_lu{
    height: 60px;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    
}
.pop-like{
    position: relative;
    top: -588px;
    left: 25%;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: none;
}
.pop-like .user-profil{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 10px;
}
.pop-like .user-profil img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.pop-like h5{
    margin-top: -30px;
    margin-left: 50px;
    
}
.pop-like i {
    float: right;
}
.pop-user{
    position: absolute;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 10px 10px 0px grey;
    top: 8%;
    right: 1%;
    z-index: 2;
    display: none;
  
}
.close-user{
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}
.pop-user a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.pop-photo{
    position: absolute;
  top: 30%;
  right: 37%;
  width: 350px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  display: none;
  color: grey;
  /* animation: 0.5s ease-in-out scale; */
  text-align: center;
  z-index: 7;
}
.pop-photo button{
    border: 1px solid lightgray;
    background-color: grey;
    padding: 5px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}
.pop-photo form{
    margin-top: 5px;
}
.pop-photo i{
    position: absolute;
    top: 0;
    right: 6px;
}
.modif-profil{
    width : 35%;
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 22%;
    left: 30%;
    display: none;
    border-radius: 5px;
}
.modif-profil i{
  float: right;
}
.modif-profil form{
    margin-top: 30px;
}
.modif-profil button{
    background-color: lightgray;
}
.modif{
    float: right;
    margin-top: -13%;
}
.post-profil{
    position: relative;
}
.pop-bar{
    position: absolute;
    top: 5%;
    width: 150px;
    height: 70px;
    background-color: white;
    box-shadow: 1px 1px 1px grey;
    left: 72%;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.pop-bar a{
    color: black;
}
.profil{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.profil img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.left{
    margin-left: 47px;
    margin-top: -43px;
}
.ago{
    margin-left: 47px;
    margin-top: -20px;
}
.pop-notif{
    position: absolute;
    left: 65%;
    top: 6%;
    width: 400px;
    border-radius: 14px;
    z-index: 7;
    background-color: white;
    display: none;
    padding: 10px;

}
.pop-notif i{
    float: right;
}
.bot span{
    font-size: 23px;
  
}
.bot a{
    
    color: black;
}
.btn-profil{
    background-color: lightgray;
}
.ajoutPhoto{
    background-color: lightgray;
}
.pointer{
    cursor: pointer;
}